<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <section>
    <div class="login-box">
      <form action="{{ url_for('forgot_password') }}" method="POST">
        {{ form.hidden_tag() }}
        <h2>Forgot Password</h2>

        <!-- Email Field -->
        <div class="input-box">
          <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
          {{ form.email(class_="form-control", required=True) }}
          <label>Email</label>
        </div>

        <!-- Submit Button -->
        <button type="submit">Send Reset Link</button>

        <div class="register-link">
          <p>Remembered? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
      </form>
    </div>
  </section>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
