<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylehome.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="home-box">
            <h1>Login</h1>
            <div class="links">
                <a href="{{ url_for('login') }}" class="btn">Login Page</a>
                <a href="{{ url_for('register') }}" class="btn">Register Page</a>
            </div>
        </div>
    </section>
</body>
</html>
