<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Verify OTP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleotp.css') }}">
</head>
<body>
  <section>
    <div class="otp-box">
      <form action="{{ url_for('verify_otp') }}" method="POST">
        {{ form.hidden_tag() }}
        <h2>Verify OTP</h2>
        <div class="input-box">
          <input type="text" name="otp" required>
          <label>Enter OTP</label>
        </div>
        <div class="message">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <button type="submit">Verify</button>
        <p>Didn't receive the OTP? <a href="{{ url_for('resend_otp') }}">Resend OTP</a></p>

      </form>
    </div>
  </section>
</body>
</html>

